{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<div class="d-flex justify-content-center m-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/img/IMG_7254.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">Hi my name is Trey and this is my Django App.</p>
        <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
      </div>
    </div>
</div>
{% endblock %}